.card {
    float: left;
    background-color: white;
    margin: 2.5% 1.5%;
    height: 85%;
    width: 15%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transition: 0.2s;
}

.title , .description {
    text-align: center;
    width: 90%;
    margin: 5%;
}

.title {
    font-size: 20px;
    transition: 0.2s;
}

.description {
    line-height: 1.5;
    background-color: white;
    color: black;
    height: 70%;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-10px);
    background-color: #dddddd;
    transition: 0.2s;
}

.card:hover .title {
    font-size: 22px;
    transition: 0.2s;
}

.card:hover .description {
    color: white;
    background-color: #252525;
    transition: 0.2s;
}
